/* =Footer
===================================================== */

// Footer
//
// Footer of the site (includes site info and widgets)
//
// Markup: footer.html
//
// Style guide: 6.footer

/*
 * Footer
 *
 * Footer container
 * <footer id="colophon" class="site-footer" role="contentinfo"> ... </footer>
 */

#colophon {

	max-width: $container-max-width;
	margin-left: auto;
	margin-right: auto;
	margin-top: $unit-xl;

	text-align: center;

}

.site-info-generator {

	@include visually-hidden();

}

.site-info-network {

	// @include hide-text();

	position: relative;

	display: block;
	width: rem(60);
	height: rem(60);
	margin: 0 auto;
	margin-bottom: $unit-m;

	color: #fff;
	text-indent: -9999px;

	background-image: url('https://europe.wordcamp.org/2016/files/2015/11/wordpress-footer-logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: $color-link;
	background-size: 40px;
	border-radius: 50%;

	transition: all .1s ease;

	&:after {

		position: absolute;
		left: 50%;
		top: rem(30);
		z-index: -1;

		margin-left: -(rem(15));
		margin-bottom: -(rem(30));
		width: rem(30);
		height: rem(100);

		background: $color-link;
		transition: all .1s ease;

		content: "";

	}

	&:hover,
	&:focus,
	&:active {

		background-color: $color-link-hover;

		&:after {

			background-color: $color-link-hover;
		}

	}

}





.sponsor-level {
	margin-top: 40px;
	}

.sponsor-level-title {
	margin-bottom: 30px;
	}

.wcb_widget_sponsors {
	.sponsor-logo {
		display: inline-block !important;
		padding-bottom: 10px !important;
		vertical-align: middle !important;
		img {
			width: auto !important;
			height: auto !important;
			margin: 0 auto !important;
			max-height: 150px !important;
			}
		}
	}

a.sponsor-logo {
	margin: 5px 20px;
	}

.sponsor-level.gold {
	.sponsor-logo {
		img {
			max-width: 300px !important;
			}
		}

	}

.sponsor-level.silver {
	.sponsor-logo {
		img {
			max-width: 260px !important;
			}
		}
	}

.sponsor-level.bronze {
	.sponsor-logo {
		img {
			max-width: 220px !important;
			}
		}
	}

.sponsor-level.escarpment {
	.sponsor-logo {
		img {
			max-width: 180px !important;
			}
		}
	}




@media only screen and (max-width: 719px) {

	.sponsor-level {
		margin-top: 30px;
		}

	.sponsor-level-title {
		margin-bottom: 10px;
		}

	.sponsor-level.gold,
	.sponsor-level.silver,
	.sponsor-level.bronze,
	.sponsor-level.escarpment {
		.sponsor-logo {
			img {
				max-width: 80% !important;
				}
			}
		}

	a.sponsor-logo {
		margin: 0px 20px;
		}



	}