/* =Overwrites
===================================================== */

.widget_wpcom_social_media_icons_widget {
	ul {
		padding: 0;
		li {
			margin: 0 .25em;
			}
		}
	.genericon {
		font-size: 32px;
		}
	}

.genericon